@charset "UTF-8";

:root {
  /* Primary */
  --color-coral: #ff7777;
  --color-light-grey: #f6f6f6;
  --color-blue-black: #292d30;
  --color-greyP: #65696c;

  /* Text / Sub */
  --color-black: #1e1e1d;
  --color-black02: #323333;
  --color-grey: #515050;
  --color-grey02: #616060;
  --color-blue-grey: #858d96;
  --color-blue-grey02: #9b9fa8;
  --color-blue-grey03: #c2cad3;

  /* size */
  --base-space: 8px;
  --size-button: 40px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 16px;

  /* annimation */
  --animation-duration: 300ms;

  /* button-BGcolor */
  --button-default-BG: #f6f6f6;
  --button-primary-BG: #fe7679;
  --button-secondary-BG: #292d30;
  --button-disabled-BG: #616060;
  --button-kakao-BG: #f4dc34;
  --button-naver-BG: #21c629;

  /* button-color */
  --button-default-color: #616060;
  --button-primary-color: #ffffff;
  --button-secondary-color: #ffffff;
  --button-disabled-color: #c2cad3;
  --button-kakao-color: #222322;
  --button-naver-color: #fff;

  /* button-font-size */
  --button-font: 1rem;

  /* button-padding */
  --button-padding: 10px 24px 8px 24px;

  /* button-padding */
  --button-padding-res: 9px 14px 7px 14px;

  /* button-radious */
  --button-radius: 25px;

  /* button-border */
  --button-border: 1px solid #c2cad3;

  /* annimation */
  --animation-duration: 300ms;

  /* typeit */
  --ti-cursor-margin-left: 0.2em;
  --ti-cursor-color: #65696c;
}

html {
  font-family: 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
  line-height: 1.2;
  word-wrap: break-word;
}
body {
  -webkit-font-smoothing: antialiased;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
div,
span,
article,
section,
header,
footer,
aside,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav,
form {
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* H style */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}

a {
  display: inline-block;
  text-decoration: none;
}

* {
  line-height: 1em;
}

/*clearFix*/
.clearFix:before,
.clearFix:after {
  display: block;
  content: '';
  line-height: 0;
}

.clearFix:after {
  clear: both;
}

/*button style*/
button.default {
  background: var(--button-default-BG);
  color: var(--button-default-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
}
button.defaultLine {
  background: var(--button-default-BG);
  color: var(--button-default-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
  border: var(--button-border);
}
button.primary {
  background: var(--button-primary-BG);
  color: var(--button-primary-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
}
button.secondary {
  background: var(--button-secondary-BG);
  color: var(--button-secondary-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
}

button.disabled {
  background: var(--button-disable-BG);
  color: var(--button-disable-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
}

button.default-R {
  background: var(--button-default-BG);
  color: var(--button-default-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
}
button.defaultLine-R {
  background: var(--button-default-BG);
  color: var(--button-default-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
}
button.primary-R {
  background: var(--button-primary-BG);
  color: var(--button-primary-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
}
button.secondary-R {
  background: var(--button-secondary-BG);
  color: var(--button-secondary-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
}
button.disabled-R {
  background: var(--button-disabled-BG);
  color: var(--button-disabled-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
}

button.kakao {
  background: var(--button-kakao-BG);
  color: var(--button-kakao-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
}
button.naver {
  background: var(--button-naver-BG);
  color: var(--button-naver-color);
  font-size: var(--button-font);
  padding: var(--button-padding);
}

/*table style*/
table {
  width: 100%;
  border-top: 2px solid var(--color-blue-grey03);
  border-bottom: 2px solid var(--color-blue-grey03);
}

table caption {
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

table tr {
  border-bottom: 1px solid var(--color-blue-grey03);
}
table tr:last-child {
  border-bottom: 0px solid var(--color-blue-grey03);
}
table tr th,
table tr td {
  padding: 1em 0.8em;
  text-align: left;
}
