@charset "UTF-8";

/*default*/

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 14px;
}

body {
    overflow-x: hidden;
    color: #222222;
}

p {
    line-height: 1.8;
}

a {
    color: #222222;
    text-decoration: none;
}

section {
    padding: 0 5rem;
}

/*clearFix*/

.clearFix {
    &:before {
        display: block;
        content: '';
        line-height: 0;
    }

    &:after {
        display: block;
        content: '';
        line-height: 0;
        clear: both;
    }
}

/*header*/

.local-nav {
    height: 120px;
    padding: 0 5rem;
    background: #1C2124;
}

.global-nav {
    height: 35px;
    padding: 0 5rem;
    background: #1C2124;
    display: flex;
    align-items: center;
    min-width: 1000px;
    margin: 0 auto;

    a {
        font-size: 0.9rem;
        padding: 0 0.1em;
        font-weight: bold;
    }
}

.global-nav-links {
    margin-right: auto;
}

.sub-nav {
    height: 35px;
    padding: 0 5rem;
    background: #0C3440;
}

.local-nav a,
.global-nav a,
.sub-nav a {
    color: #f8f8f8;
}

.local-nav-links {
    display: flex;
    align-items: center;
    min-width: 1000px;
    height: 100%;
    margin: 0 auto;

    a {
        font-size: 0.8rem;
        padding: 0 0.5em;

        &.homepage-name {
            margin-right: auto;
            width: 180px;
            height: 76px;
            background: url('../img/logo02.png');
            font-size: 0;
        }
    }
}

/*mainvisual*/

.main-visual-slider .main-visual-wrap {
    width: 100%;
    margin: 0px auto;
    padding: 10px 0px;

    .post {
        display: flex;
        align-items: flex-end;
        text-align: right;
        padding-right: 2vw;
        height: 40rem;
        margin: 0px 10px;
        background: white;
        border-bottom-left-radius: 6rem;
        word-break: keep-all;

        .post-info {
            font-size: 1.5rem;
            height: 40%;
            padding-left: 1em;
            color: #fff;

            i {
                height: 10%;
            }

            h4 a {
                color: #fff;
                font-size: 3vw;
            }
        }
    }
}

/*ranking*/

section {
    &:not(.main-visual) {
        margin: 15vh 0;
    }

    &.ranking-wrap {
        display: flex;

        .ranking-slider {
            width: 35%;
            height: 36rem;
            overflow: hidden;

            .title {
                font-size: 5vw;
                word-break: keep-all;
            }
        }

        .rankText {
            padding-top: 30px;
            display: flex;
            justify-content: flex-start;

            b {
                margin-right: 1rem;
            }
        }

        .rankMore {
            color: #1B9FC2;
            margin-left: auto;
        }

        .rankLists {
            width: 100%;
            display: flex;
            height: 4rem;

            li {
                padding-right: 1em;
            }
        }

        .keywordRank-wrap {
            width: 65%;
            height: 100%;

            .keywordRank {
                width: 100%;
                display: flex;
            }
        }
    }
}

.keywordRank {

    .keywordItem_Big,
    .keyword_item,
    .keywordItems {
        padding-left: 2rem;
        overflow: hidden;
        position: relative;
    }

    .keywordItem_Big {
        width: 50%;
        border-bottom-right-radius: 8rem;
    }

    .keyword_item {
        width: 25%;
        border-top-right-radius: 4rem;
    }

    .keywordItems {
        width: 25%;
        border-top-right-radius: 4rem;

        .Kitem.last {
            margin-top: auto;
            position: absolute;
            bottom: 0;
        }
    }
}

.Keyword {
    margin-top: 3vw;

    b {
        display: block;
        font-size: 1.5rem;
        width: 100%;
    }

    span {
        font-size: 0.8rem;
        color: #888;
    }
}

/*parallax*/

.parallax-wrap {
    display: flex;
}

.style-contens {
    text-align: center;
    width: 50%;
    overflow: hidden;

    h3 {
        font-size: 4vw;
    }

    span {
        display: block;
    }

    img {
        width: 48%;
        margin-top: 3rem;
    }
}

/*tap*/

[class^="tabs-menu"] {
    height: auto;
    clear: both;
    width: 100%;
    text-align: center;

    li {
        height: 30px;
        font-size: 2.5rem;
        line-height: 30px;
        display: inline-block;
        margin-right: 10px;
    }
}

[class^="tabs-menu-sub"] li {
    font-size: 1rem;
}

[class^="tabs-menu"] {
    li {
        &.current {
            position: relative;
            z-index: 5;
        }

        a {
            padding: 10px;
            text-transform: uppercase;
            color: #888;
            text-decoration: none;
        }
    }

    .current a {
        color: #222;
        font-weight: bold;
    }
}

[class^="tabs-menu-sub"] .current a {
    color: #222;
    font-weight: bold;
    text-decoration: underline;
}

.tab {
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
}

.tab-content,
.tab-content-sub,
.tab-content-sub02 {
    width: 100%;
    padding: 20px;
    display: none;
}

#tab-1,
#tab-01,
#tab-05 {
    display: block;
}

.subTab-slide .items {
    .item-img {
        width: 100%;
        height: 80%;
        overflow: hidden;
        margin-bottom: 5%;
    }

    .item-brand {
        font-size: 0.8rem;
        color: #888;
    }

    .item-name {
        font-size: 0.8rem;
        margin: 0.5em 0;
    }

    .item-price {
        font-size: 0.8rem;

        .price {}

        .regular {
            color: #8A8A8A;
        }

        .percent {
            color: #1E6FC5;
        }
    }
}

/*brand*/

section.multi-slide-03.brand {
    h2 {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        font-size: 3rem;
        padding-bottom: 2rem;
    }

    width: 100%;
    margin: 2rem 0;
    height: 36rem;
}

.multi-slide-05.brandlive {
    width: 100%;
    margin: 2rem 0;
    height: 30rem;
    position: relative;
}

.brandlive .swiper-container {
    margin-top: 2rem;
    overflow: hidden;
}

.brand-single-wrap {
    width: 48%;
    height: 100%;
    padding-right: 2%;
    float: left;
}

.brand-three-wrap {
    width: 50%;
    height: 100%;
    float: left;
}

/*video-slide*/

.video-slide {
    text-align: center;

    h2 {
        font-size: 3vw;
    }
}

/*selection*/

.selection {
    h2 {
        font-size: 3rem;
        text-align: center;
        color: #fff;
        position: relative;
        z-index: 3;
        padding-bottom: 2rem;
    }

    .items {
        height: 100%;

        >div {
            height: 100%;
            text-align: right;
        }

        .item-img {
            width: 100%;
            height: 75%;
            overflow: hidden;
            margin-bottom: 5%;
        }

        .item-brand {
            font-size: 0.8rem;
            color: #888;
            padding-right: 2em;
        }

        .item-name {
            font-size: 0.8rem;
            margin: 0.5em 0;
            padding-right: 2em;
        }

        .item-price {
            font-size: 0.8rem;
            padding-right: 2em;

            .price {}

            .regular {
                color: #8A8A8A;
            }

            .percent {
                color: #1E6FC5;
            }
        }
    }
}

/*brand live*/

.brandlive h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

ul.items {
    display: flex;
    width: 50%;
    height: 100%;

    li {
        padding-right: 1rem;
        text-align: left;
    }

    .item-img {
        width: 100%;
        height: 80%;
        overflow: hidden;
        margin-bottom: 5%;
    }

    .item-brand {
        font-size: 0.8rem;
        color: #888;
    }

    .item-name {
        font-size: 0.8rem;
        margin: 0.5em 0;
    }

    .item-price {
        font-size: 0.8rem;

        .price {}

        .regular {
            color: #8A8A8A;
        }

        .percent {
            color: #1E6FC5;
        }
    }
}

.nested.swiper {
    width: 48%;
    border-bottom-right-radius: 50px;
}